.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;
}

header {
    background-color: lightblue;
    padding: 10px 0; /*top and bottom, left and right*/
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0 auto; /*margin top and bottom 0, margin left and right auto or equal*/
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

#character_nav {
    background-color: #252222;
    background-image: url(../images/summer-bg.jpeg);
    background-size: cover;
    background-blend-mode:multiply;
}

.characters {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.characters li {
    height: 270px;
    background-color: darkgrey;
    margin: 10px 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 155px 0 0 rgb(51, 130, 220) inset;
    transition: box-shadow 0.2s ease-in-out;
}

.characters li:hover {
    box-shadow: 0 400px 0 0 rgb(51, 130, 220) inset;
}

.characters li h3 {
    color: white;
    padding: 15px 8px;
}

.characters li a {
    text-decoration: none;
}

.sprite {
    width: 150px;
    height: 200px;
    background-image: url(../images/Characters.png);
}

#conrad {
    background-position: -150px 0;
}

#jeremiah {
    background-position: -300px 0;
}

#susannah {
    background-position: -450px 0;
}

#laurel {
    background-position: -600px 0;
}

#steven {
    background-position: -750px 0;
}

#belly:hover, #conrad:hover, #jeremiah:hover, #susannah:hover, #laurel:hover, #steven:hover {
    background-position-y: 200px;
}

#instructions {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
}

.sticky-footer {
    position: sticky;
    top: 100%;
    height: 80px;
    background-color: rgb(40, 37, 37);
}

/* lightbox rules */

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.65);
    background-image: url(../images/bellypng.png);
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: #fff;
    font-size: 46px;
    text-decoration: none;
    font-weight: bold;
    transition: color .3s linear;
}

.lightbox_close:hover {
    color: red;
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text {
    line-height: 28px;
}

.lb_heading {
    font-size: 34px;
}

.lightbox:target {
    display: block;
}

#lightbox2 {
    background-image: url(../images/conradpng.png);
}

#lightbox3 {
    background-image: url(../images/jeremiahpng.png);
}

#lightbox4 {
    background-image: url(../images/susannahpng.png);
}

#lightbox5 {
    background-image: url(../images/Laurel.png);
}

#lightbox6 {
    background-image: url(../images/Stevenpng.png);
}